@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Patrick Hand', cursive;
}

@layer base {
  .text-secondary {
    @apply text-gray-400;
  }
  .bg-primary {
    background: linear-gradient(180deg, #374151 0%, #111827 100%) no-repeat;
  }
  .title-line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3.3em;
  }
  .title-line-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3.3em;
  }
  .content-line-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* max-height: 3.3em; */
  }
}
